/** HEADER **/

#header-nav {
    border-radius: 0;
    border: 0;
}

.navbar-brand {
    height: auto;
}

.navbar-brand h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

#nav-list a {
    text-align: center;
}

#section-chicken,
#section-beef,
#section-sushi {
    background-color: #bdbdbd;
    padding: 10px;
    margin-bottom: 20px;
}

#menu-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
}

h3 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: bold;
}